/* @theme presentation-theme */

@import 'default';

img[alt~="center"] {
  display: block;
  margin: 0 auto;
}


.grid-2-col {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}